<div class="container-fluid atlanta bg"></div>
	<div class="atlanta-header">
		<h2> Atlanta Restaurants </h2>
	</div>


<div class="container-fluid restaurant-list-item row">

		<div class="col col-md-3">
			{{restaurants.0.name}}<br>
			<img src="{{restaurants.0.imgUrl}}" width="300px">
		</div>
		<div class="col col-md-3">
			{{restaurants.1.name}}<br>
			<img src="{{restaurants.1.imgUrl}}" width="300px">
		</div>
		<div class="col col-md-3">
			{{restaurants.2.name}}<br>
			<img src="{{restaurants.2.imgUrl}}" width="300px">
		</div>
		<div class="col col-md-3">
			{{restaurants.3.name}}<br>
			<img src="{{restaurants.3.imgUrl}}" width="300px">
		</div>
		<div class="col col-md-3">
			{{restaurants.4.name}}<br>
			<img src="{{restaurants.4.imgUrl}}" width="300px">
		</div>
		<div class="col col-md-3">
			{{restaurants.5.name}}<br>
			<img src="{{restaurants.5.imgUrl}}" width="300px">
		</div>
		<div class="col col-md-3">
			{{restaurants.6.name}}<br>
			<img src="{{restaurants.6.imgUrl}}" width="300px">
		</div>
		<div class="col col-md-3">
			{{restaurants.7.name}}<br>
			<img src="{{restaurants.7.imgUrl}}" width="300px">
		</div>

</div>

<hr>
<div class="container-fluid">
	<h5>Want to see more? </h5>
		<p>Sign up to customize your favorite restaurants for what works for you!</p>

		<form action="/users/signup">
			<input type="submit" value="Sign Up" class="btn btn-default">
		</form>

		<form action="/sessions/login">
			<input type="submit" value="Login" class="btn btn-default">
		</form>

</div>


<div class="container-fluid nyc bg"></div>
	<div class="nyc-header">
		<h2> NYC Restaurants </h2>
		<h6>coming soon</h6>
	</div>
