<h1>{{user.username}}'s Summer Bucket Restaurant</h1>
<ul>
	{{#each user.restaurant}}

		<li>Name: <a href="/users/{{../user.id}}/restaurants/{{this.id}}/edit">{{this.name}}</a></li>
		<li>Location: {{this.location}}</li>
		<li>Type: {{this.type}}</li>

		<form action="/users/{{../user.id}}/restaurants/{{this.id}}?_method=DELETE" method="POST">
			<input type="submit" value="Delete This">
		</form>
		<br>
	{{/each}}
</ul>
<form action="/users/{{user.id}}/restaurants" method="POST">
	<div>
		<label for="name">Name: </label>
		<input type="text" name="name">
	</div>
	<div>
		<label for="location">Location:</label>
		<input type="text" name="location">
	</div>
	<div>
		<label for="type">Type:</label>
		<input type="text" name="type">
	</div>
	<div>
		<input type="submit" value="Add To Restaurant">
	</div>
</form>
