<div class="container-fluid show">


<h2> welcome {{user.firstName}} !</h2>
<br>
<h4>personalize your restaurants to fit your needs</h4>
<div class="container-fluid top-show">
<hr>

<div class="container-fluid list">

	<h6>{{#each restaurants}}</h6>

		<li><h3><a href="/users/{{../user.id}}/restaurants/{{this.id}}/edit">{{this.name}}</a></h3></li>
		<li><b>Location:</b> {{this.location}}</li>
		<li><b>Type:</b> {{this.type}}</li>

		<form action="/users/{{../user.id}}/restaurants/{{this.id}}?_method=DELETE" method="POST">
			<input class="btn btn-danger list-delete" type="submit" value="Delete This">
		</form>
		<br>
		<br>
		<br>
	{{/each}}

</div>
</div>

<hr>

<div class="container-fluid add-rest">

<h3>Add Restaurant</h3>
<form action="/users/{{user.id}}/restaurants" method="POST">
	<div>
		<label for="name">Name: </label>
		<input type="text" name="name">
	</div>
	<div>
		<label for="location">Location:</label>
		<input type="text" name="location">
	</div>
	<div>
		<label for="type">Type:</label>
		<input type="text" name="type">
	</div>
	<div>
		<label for="imgUrl">Image URL:</label>
		<input type="text" name="imgUrl">
	</div>
	<div>
		<label for="description">Description:</label>
		<input type="text" name="description">
	</div>
	<div>
		<input class="btn btn-primary" type="submit" value="Add Restaurant">
	</div>
</form>

</div>
</div>
