<h2>Edit this Item</h2>
<form action="/users/{{user}}/restaurants/{{restaurant.id}}?_method=PUT" method="POST">
	<div>
		<label for="name">Name: </label>
		<input type="text" name="name" value="{{restaurant.name}}">
	</div>
	<div>
		<label for="location">Location: </label>
		<input type="text" name="location" value="{{restaurant.location}}">
	</div>
	<div>
		<label for="type">Type: </label>
		<input type="text" name="type" value="{{restaurant.type}}">
	</div>
	<div>
		<input type="submit" value="Update Restaurant">
	</div>
</form>
