<div class="container-fluid">

	<ol class="breadcrumb">
	  <li><a href="/users">Home</a></li>
	  <li><a href="/users/{{user.id}}">Restaurants</a></li>
	  <li class="active">{{restaurant.name}}</li>
	</ol>

<div class="container top-edit">

<h2>{{restaurant.name}}</h2>
<h5>Restaurant Profile</h5>
<br>

<img src="{{restaurant.imgUrl}}" width="300px">
<br>
<p><b>{{restaurant.type}}</b></p>
<p>{{restaurant.description}}</p><br>

<p class="list-group-item-success">{{restaurant.food}}</p>
<br>

	<!-- <form action="">
		<input class="btn btn-website" type="submit" value="Visit Website">
	</form> -->

	<form action="/users/{{user.id}}">
		<input class="btn btn-default" type="submit" value="Go Back">
	</form>

</div>
<hr>
<div class="container add-restaurant">

<h5>Have changes?</h5>
<br>
<form action="/users/{{user.id}}/restaurants/{{restaurant.id}}?_method=PUT" method="POST">
	<div>
		<label for="name">Name: </label><Br>
		<input type="text" name="name" value="{{restaurant.name}}">
	</div>
	<div>
		<label for="location">Location: </label><br>
		<input type="text" name="location" value="{{restaurant.location}}">
	</div>
	<div>
		<label for="type">Type: </label><br>
		<input type="text" name="type" value="{{restaurant.type}}">
	</div>
	<div>
		<label for="imgUrl">Image URL:</label><br>
		<input type="text" name="imgUrl" value="{{restaurant.imgUrl}}">
	</div>
	<div>
		<label for="description">Description:</label><br>
		<input type="text" name="description" value="{{restaurant.description}}">
	</div>

<div>

	<label for="food">Food Type:</label><br>
	<div class="checkbox">
	  <label><input type="checkbox" value="{{restaurant.food}}">Vegan</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" value="{{restaurant.food}}">Vegetarian</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" value="{{restaurant.food}}">Paleo</label>
	</div>
</div>

<br>
	<div>
		<input class="btn btn-warning" type="submit" value="Update Restaurant">
	</div>
</form>

<form action="/users/{{user.id}}/restaurants/{{restaurant.id}}?_method=DELETE" method="POST">
	<input class="btn btn-danger" type="submit" value="Delete This">
</form>

</div>

</div>
